attrs==20.3.0
Automat==20.2.0
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
constantly==15.1.0
cryptography==3.4.7
cssselect==1.1.0
elasticsearch==7.12.0
elasticsearch-dsl==7.3.0
et-xmlfile==1.0.1
hyperlink==21.0.0
idna==3.1
incremental==21.3.0
iniconfig==1.1.1
itemadapter==0.2.0
itemloaders==1.0.4
jdcal==1.4.1
jmespath==0.10.0
lxml==4.6.3
openpyxl==3.0.7
packaging==20.9
parsel==1.6.0
pluggy==0.13.1
Protego==0.1.16
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyDispatcher==2.0.5
PyHamcrest==2.0.2
pyOpenSSL==20.0.1
pyparsing==2.4.7
pytest==6.2.3
python-dateutil==2.8.1
queuelib==1.5.0
requests==2.25.1
Scrapy==2.4.1
service-identity==18.1.0
six==1.15.0
toml==0.10.2
Twisted==21.2.0
urllib3==1.26.4
w3lib==1.22.0
zope.interface==5.3.0
