aiohttp==3.6.2
aiohttp-socks==0.3.3
aiorpcX==0.18.4
appdirs==1.4.3
asn1crypto==1.2.0
async-timeout==3.0.1
attrs==19.3.0
Automat==0.8.0
backcall==0.1.0
bcrypt==3.1.7
beautifulsoup4==4.8.2
bleach==3.1.0
Brlapi==0.7.0
btrfsutil==1.1.1
CacheControl==0.12.6
cached-property==1.5.1
ceph-volume==1.0.0
cephfs==2.0.0
cephfs-shell==0.0.1
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
chrome-gnome-shell==0.0.0
colorama==0.4.3
colorclass==2.2.0
constantly==15.1.0
cryptography==2.8
cssselect==1.1.0
decorator==4.4.1
defusedxml==0.6.0
distlib==0.3.0
distro==1.4.0
dnspython==1.16.0
docker==4.1.0
docker-compose==1.25.0
docker-pycreds==0.4.0
dockerpty==0.4.1
docopt==0.6.2
dulwich==0.19.14
ecdsa==0.13.3
elasticsearch==7.1.0
Electrum==3.3.8
entrypoints==0.3
evdev==1.2.0
gunicorn==19.9.0
html5lib==1.0.1
hyperlink==19.0.0
idna==2.8
importlib-metadata==0.23
incremental==17.5.0
iotop==0.6
ipykernel==5.1.3
ipython==7.11.1
ipython-genutils==0.1.0
ipywidgets==7.5.1
isc==2.0
jedi==0.15.1
Jinja2==2.10.3
jsonrpclib-pelix==0.4.0
jsonschema==3.2.0
jupyter-client==5.3.4
jupyter-console==6.0.0
jupyter-core==4.6.1
lensfun==0.3.2
linode-cli===fatal.-..not
lockfile==0.12.2
louis==3.12.0
lutris==0.5.4
lxml==4.4.2
Markdown==3.1.1
Markups==3.0.0
MarkupSafe==1.1.1
meld==3.20.1
mistune==0.8.4
more-itertools==8.0.2
msgpack==0.6.2
multidict==4.6.1
nbconvert==5.6.1
nbformat==4.4.0
notebook==6.0.2
ordered-set==3.1.1
packaging==19.2
pandocfilters==1.4.2
paramiko==2.6.0
parsel==1.5.2
parso==0.5.2
pbkdf2==1.3
pep517==0.6.0
pexpect==4.7.0
pickleshare==0.7.5
pikaur==1.5.8
Pillow==6.2.1
ply==3.11
progress==1.5
prometheus-client==0.7.1
prompt-toolkit==3.0.2
Protego==0.1.16
protobuf==3.11.1
ptyprocess==0.6.0
pwquality==1.4.2
pyaes==1.6.1
pyalpm==0.9.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycairo==1.18.2
pycparser==2.19
pycryptodomex==3.9.0
PyDispatcher==2.0.5
Pygments==2.5.2
PyGObject==3.34.0
PyHamcrest==1.9.0
PyNaCl==1.3.0
pyOpenSSL==19.1.0
pyparsing==2.4.6
PyQt5==5.14.1
PyQt5-sip==12.7.0
pyrsistent==0.15.6
PySocks==1.7.0
python-dateutil==2.8.1
python-markdown-math==0.6
pytoml==0.1.21
pyxdg==0.26
PyYAML==5.1.2
pyzmq==18.1.1
qrcode==6.1
QScintilla==2.11.4
queuelib==1.5.0
rados==2.0.0
rbd==2.0.0
requests==2.22.0
ReText==7.0.4
retrying==1.3.3
rgw==2.0.0
Scrapy==1.8.0
ScrapyElasticSearch==0.9.2
Send2Trash==1.5.0
service-identity==18.1.0
sip==4.19.20
six==1.13.0
soupsieve==1.9.5
speedtest-cli==2.1.2
team==1.0
terminado==0.8.3
terminaltables==3.1.0
testpath==0.4.4
texttable==1.6.2
tornado==6.0.3
traitlets==4.3.3
Twisted==19.10.0
urllib3==1.25.7
urwid==2.1.0
w3lib==1.21.0
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.57.0
widgetsnbextension==3.5.1
Wikicurses==1.4
xkcdpass==1.17.3
yarl==1.3.0
youtube-dl==2020.1.1
zipp==0.6.0
zope.interface==4.7.1
